<div class="container">
  <div class="page-header">

    <h2>Listado de centros educativos. <br/>
      <small>Seleccione el centro educativo que desea gestionar.</small>
    </h2>

  </div>

  <div collapse="isCollapsed">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">Filtros de búsqueda</h4>
      </div>
      <div class="panel-body">
        <div class="row">
         <div class="col-md-2">
          <select class="form-control" ng-model="searched.type">
            <option value="" disabled selected>Por tipo</option>
            <option value="Privada">Privada</option>
            <option value="Pública">Pública</option>
          </select>
         </div>
         <div class="col-md-2">
          <select class="form-control" ng-model="searched.level">
            <option value="" disabled selected>Por nivel</option>
            <option value="Colegio">Colegio</option>
            <option value="Universidad">Universidad</option>
          </select>
         </div>
         <div class="col-md-2">
          <input type="text" class="form-control" placeholder="Por sigla" ng-model="searched.acronym"/>
         </div>
         <div class="col-md-3">
          <input type="text" class="form-control" placeholder="Por nombre" ng-model="searched.name"/>
         </div>
         <div class="col-md-2">
          <input type="text" class="form-control" placeholder="Por país" ng-model="searched.country" typeahead="country.name for country in countries | filter:$viewValue"/>
         </div>
         <div class="col-md-1">
          <button type="button" class="btn btn-hover btn-md btn-danger" ng-click="clearFilter()"popover="Restablecer." popover-trigger="mouseenter" popover-placement="bottom" popover-popup-delay="350">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
         </div>
       </div>
      </div>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Nivel educativo</th>
        <th>Sigla</th>
        <th>Nombre</th>
        <th>Pais</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="center in studyCenters | filter:searched"
      ng-click="setSelected(center.id)"
      ng-class="{info: center.id == selectedCenterId}">
        <td>{{center.type}}</td>
        <td>{{center.level}}</td>
        <td>{{center.acronym}}</td>
        <td>{{center.name}}</td>
        <td> <img ng-src="images/flags/{{center.country.iso2}}.png"/> {{center.country.name}}</td>
      </tr>
    </tbody>
  </table>
<div class="row">
    <div class="text-center"><pagination total-items="totalItems" items-per-page="10" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>
  <div class="pull-right">

    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">
      <span class="glyphicon glyphicon-search"/>
      Buscar
    </button>

    <a class="btn btn-success {{btnState}}" >
      <span class="glyphicon glyphicon-ok"/>
      Gestionar centro
    </a>
  </div>
</div>