<div id="titlePage">
<!-- LOGO -->
<div class="col-md-2">
  <img src="images/nahuelapaizado.jpg" style="width: 80%; display: block; margin: auto;">
</div>

<!-- SEARCH WIDGET -->
<div class="search-widget ">
  <!-- Input search text -->
  <div class="col-md-6">
    <div class="fake-input">
      <input type="text" class="no-input-style search-box" ng-model="query" class="search-box"
        ng-keypress="searchOnEnter($event)">
      <div>
        
        <i class="fa fa-caret-down advanced-search-button" id="flip" ng-init="initSearchPanel()"
           tooltip="Búsqueda avanzada"
         tooltip-placement="bottom"
         tooltip-popup-delay='800'></i>
         <span class="glyphicon glyphicon-remove clear-search" ng-show="!!query" ng-click="clearSearch()">
        </span>
      </div>
    </div>
    <i class="fa fa-search search-button"
       ng-click="searchTitles()"
       >
    </i>
   </div>

   <!-- Advanced search panel -->
   <div id="panel" style="display:none" class="col-md-6">
      <!-- Panel title label -->
      <span class="title">
         <span class="glyphicon glyphicon-search" style="font-size:9pt"></span>
         <span> Buscar</span>
      </span>

      <!-- Panel close button 
      <span class="close" ng-init="initClosePanelButton()">
         <span class="glyphicon glyphicon-remove" style="font-size:9pt;position: relative; top: 0px;">
         </span>
      </span>-->

      <!-- Search form -->
      <form class="form-horizontal" role="form" style="margin-top: 12px;font-size: 13px;zoom:0.9;">
         <div class="form-group form-group-sm">
            <label for="A" class="col-sm-3 control-label">Institución:</label>
            <div class="col-sm-8">
               <input class="form-control input-sm" id="A" ng-model="institution" typeahead="i.institutionName for i in institutions | filter:$viewValue | limitTo:8" >
            </div>
         </div>
         <div class="form-group form-group-sm">
            <label for="B" class="col-sm-3 control-label">Unidad Académica:</label>
            <div class="col-sm-8">
               <input class="form-control input-sm" id="B" ng-model="au" typeahead="a.auName for a in aus | filter:$viewValue | limitTo:8">
            </div>
         </div>
         <div class="form-group form-group-sm">
            <label for="C" class="col-sm-3 control-label">Tipo de Carrera:</label>
            <div class="col-sm-8">
               <input class="form-control input-sm" id="C" ng-model="ct" typeahead="ct.careerTypeName for ct in cts | filter:$viewValue | limitTo:8">
            </div>
         </div>
         <div class="form-group form-group-sm">
            <label for="D" class="col-sm-3 control-label">Carrera:</label>
            <div class="col-sm-8">
               <input class="form-control input-sm" id="D" ng-model="career" typeahead="c.careerName for c in careers | filter:$viewValue | limitTo:8">
            </div>
         </div>
         <div class="form-group form-group-sm">
            <label for="E" class="col-sm-3 control-label">Tipo de Título:</label>
            <div class="col-sm-8">
               <input class="form-control input-sm" id="E" ng-model="titleType" typeahead="tt.titleTypeName for tt in ttypes | filter:$viewValue | limitTo:8">
            </div>
         </div>
         <div class="form-group form-group-sm">
            <label for="F" class="col-sm-3 control-label">Título:</label>
            <div class="col-sm-8">
               <input class="form-control input-sm" id="F" ng-model="title" typeahead="t.titleName for t in titleTable | filter:$viewValue | limitTo:8">
            </div>
         </div>
         <div class="form-group form-group-sm">
            <label for="G" class="col-sm-3 control-label">Tipo de Resolución:</label>
            <div class="col-sm-4">
              <select class="form-control" ng-model="resType" ng-options="rt.resolutionTypeName for rt in resTypes">
                <option></option> <!--empty value option -->
              </select>
            </div>
            <div class="col-sm-2" style="padding-left:0">
               <input class="form-control input-sm numeric-input" id="G" placeholder="Número" ng-model="resNro">
            </div>
            <div class="col-sm-2" style="padding-left:0">
               <input class="form-control input-sm numeric-input" id="G" placeholder="Año" ng-model="resYear" maxlength="4" size="4">
            </div>
         </div>
         <div class="form-group">
            <label class="col-sm-3 control-label">Estado del Título:</label>
            <div class="col-sm-9">
               <div class="checkbox-inline">
                 <label>
                   <input type="checkbox" ng-model="titleStateSearch['1']" > Pendiente de Alta
                 </label>
               </div>
               <div class="checkbox-inline">
                 <label>
                   <input type="checkbox" ng-model="titleStateSearch['2']"> Pendiente de Modificación
                 </label>
               </div>
               <div class="checkbox-inline">
                 <label>
                   <input type="checkbox" ng-model="titleStateSearch['3']"> Vigente
                 </label>
               </div>
             </div>
         </div>
         <div class="form-group">
             <div class="col-sm-offset-3 col-sm-9">
               <div class="checkbox-inline">
                 <label>
                   <input type="checkbox" ng-model="titleStateSearch['5']"> No Vigente con Actividad
                 </label>
               </div>
               <div class="checkbox-inline">
                 <label>
                   <input type="checkbox" ng-model="titleStateSearch['4']"> No Vigente sin Actividad
                 </label>
               </div>
             </div>
         </div>
         <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
              <button type="button" 
                class="btn btn-info btn-sm pull-right" style="padding: 7px 28px;">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 
                  Buscar
              </button>
              <button type="button" ng-click="cleanSearchFields()"
                class="btn btn-info btn-sm pull-right be-careful" style="padding: 7px 28px; margin-right: 15px;">
                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span> 
                  Limpiar
              </button>
            </div>
         </div>
      </form>
      <!-- END: Search form -->
   </div>
   <!-- END: Advanced search panel -->
</div>
<!-- END: SEARCH WIDGET -->

<div class="col-md-2 col-md-offset-2">
  <!--<span class="badge">Resultados 40 </span>-->
</div>

<div id="mainSplitter" style="border:0; clear:both; position: fixed;bottom: 0; top: 10.5%;width: 100%;height:100%!important">
  <!-- TITLE TREE -->
  <div class="splitter-panel col-md-2" id="jstree_demo_div" style="overflow: auto; font-size:10pt; padding-left: 0px;font-size: 11px;">
  </div>
  <!-- TABLE -->
  <div class="splitter-panel datagrid col-md-10" ng-init="initSplitter()" style="overflow:auto;">
     <table >
        <col style="width:20%">
        <col style="width:8%">
        <col style="width:22%">
        <col style="width:8%">
        <col style="width:22%">
        <col style="width:8%">
        <col style="width:12%"> 
        <thead >
           <tr>
              <th>Unidad Académica</th>
              <th>Código de Carrera</th>
              <th>Nombre de Carrera</th>
              <th>Código de Título</th>
              <th>Nombre de Título</th>
              <th>Tipo de Título</th>
              <th>Modalidad</th>
              <th> </th>
           </tr>
        </thead>
        <tbody>
        <tr ng-repeat="t in titleTable | filter: criteriaMatch()" 
          style="height:47px" ng-click="openEditModal(t)">
              <td> {{t.academicUnit}} </td>
              <td> {{t.careerCode}} </td>
              <td> {{t.careerName}} </td>
              <td> {{t.titleCode}} </td>
              <td> {{t.titleName}} </td>
              <td> {{t.titleType}} </td>
              <td> {{t.titleMode}} </td>
              <td> 
                <span ng-if="isMissingData(t)"
                class="glyphicon glyphicon-warning-sign" aria-hidden="true" 
                style="color:red; font-size:10pt"
                tooltip-html-unsafe="{{getMissingDataMessage(t)}}" tooltip-placement="left">
                </span>
              </td>
           </tr>  
        </tbody>
     </table>
  </div>
</div>
<!-- CREATION MODAL 
<div class="modal fade" id="creationModal" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="modal-title" style="font-weight: bold;">Alta de Título y Carrera</span>
         </div>
         <div class="modal-body" style="display:block;">
            <form class="form-horizontal" role="form" style="font-size:13px;">
               <div class="col-md-5">
                  <div class="form-group form-group-sm">
                     <label for="A" class="col-sm-4 control-label">Unidad Académica:</label>
                     <div class="col-sm-8">
                        <input class="form-control input-sm" id="A">
                     </div>
                  </div>
                  <div class="form-group form-group-sm">
                     <label for="B" class="col-sm-4 control-label">Carrera:</label>
                     <div class="col-sm-8">
                        <input class="form-control input-sm" id="B">
                     </div>
                  </div>
                  <div class="form-group form-group-sm">
                     <label for="C" class="col-sm-4 control-label">Tipo de Carrera:</label>
                     <div class="col-sm-8">
                        <input class="form-control input-sm" id="C">
                     </div>
                  </div>
                  <div class="form-group form-group-sm">
                     <div class="col-sm-12">
                        <textarea class="form-control" rows="2" placeholder="Comentario de Carrera" style="resize:none;"></textarea>
                     </div>
                  </div>
               </div>
               <div class="col-md-2" style="padding-top: 6px;">
                  <img src="images/423.png" style="
                     /*border: 1px dashed;*/
                     border-color: rgb(161, 110, 0);
                     width: 125; border-width: 2px;">
               </div>
               <div class="col-md-5" style="padding-left:0px">
                 <div class="modal-subtitle underlined">
                   Solicita
                 </div>
                 <div class="col-md-4" style="padding-left: 5;">
                   <img src="images/default_profile.png" width="110px" style="padding:0;">
                 </div>
                 <div class="col-md-8">
                   <div class="dotted-overflow" 
                         style="font-weight: bold;color:
                               rgb(161, 110, 0);
                               font-size: 14pt;
                               ">
                               Diego Pablo Mansilla
                   </div>
                   <div style="color: rgb(224, 169, 49);font-weight: bold;">CUIL 20-27656133-3</div>
                   <div style="color: rgb(224, 169, 49);font-weight: bold;">DNI 27656133</div>
                   <div style="padding-top: 10px;color: rgb(224, 170, 52);"> <span class="glyphicon glyphicon-envelope">   </span> dmansilla@unc.edu.ar</div>
                 </div>
               </div>
               <div class="row">
                 <div class="col-md-12">
                     <div class="modal-subtitle underlined">
                        Titulos
                     </div>
                     <div class="form-group form-group-sm">
                        <label for="A" class="col-sm-1 control-label">Título:</label>
                        <div class="col-sm-11">
                           <div class="col-sm-6 no-padding-left">
                              <input class="form-control input-sm" id="A" placeholder="Masculino">
                           </div>
                           <div class="col-sm-6 no-padding-left">
                              <input class="form-control input-sm" id="A" placeholder="Femenino">
                           </div>
                        </div>
                     </div>
                     <div class="form-group form-group-sm">
                        <label for="A" class="col-sm-1 control-label">Modalidad:</label>
                        <div class="col-sm-3">
                           <input class="form-control input-sm" id="A" >
                        </div>
                        <label for="B" class="col-sm-1 control-label">Tipo:</label>
                        <div class="col-sm-3">
                           <input class="form-control input-sm" id="A">
                        </div>
                        <label for="A" class="col-sm-1 control-label">Co-gestión:</label>
                        <div class="col-sm-3">
                           <input type="radio" name="co-gestion" id="inlineRadioA" value="1" > 
                           <small>Sí</small>
                           <input type="radio" name="co-gestion" id="inlineRadioB" value="0" > 
                           <small>No</small>
                        </div>
                     </div>
                 </div>
               </div>
               <div class="row">
                  <div class="col-sm-6">
                     <div class="modal-subtitle">Instituciones Participantes:</div>
                     <div class="institutions-content">
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="modal-subtitle">Resoluciones:</div>
                     <div class="resolutions-content">
                        
                     </div>
                  </div>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Solicitar Alta</button>
         </div>
      </div>
   </div>
</div>
-->
<!-- EDITION MODAL -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="modal-title" id="myModalLabel" style="font-weight: bold;">Edición de Título</span>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" ng-submit="saveTitleChanges()" style="margin-bottom:0">
          <div class="form-group required">
            <label for="titleCodeInput" class="col-sm-2 control-label">Código ONA</label>
            <div class="col-sm-2">
              <input type="text" class="form-control numeric-input" id="titleCodeInput" ng-model="titleSelected.titleCode" required>
            </div>
          </div>
          <div class="form-group required">
            <label for="titleNameInput" class="col-sm-2 control-label">Título</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="titleNameInput" ng-model="titleSelected.titleName" required>
            </div>
          </div>
          <div class="form-group required">
            <label for="femaleNameInput" class="col-sm-2 control-label">Título Femenino</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="femaleNameInput" ng-model="titleSelected.titleFemaleName" required>
            </div>
          </div>
          <div class="form-group required">
            <label for="titleStateCB" class="col-sm-2 control-label">Estado actual</label>
            <div class="col-sm-6" id="titleStateCB">
              <select class="selectpicker form-control" id="selectTitleState" name="selectTitleState">
              <optgroup label="Título Pendiente">
                <option value="1" title="Título Pendiente de Alta">Pendiente de Alta</option>
                <option value="2" title="Título Pendiente de Modificación">Pendiente de Modificación</option>
              </optgroup>
              <optgroup label="Vigente">
                <option value="3" title="Título Vigente">Título Vigente</option>
              </optgroup>
              <optgroup label="Título No Vigente">
                <option value="5" title="Título No Vigente Con Actividad">Con Actividad</option>
                <option value="4" title="Título No Vigente Sin Actividad">Sin Actividad</option>
              </optgroup>
              <option title="No Definido" data-hidden="true"></option>
              </select>
            </div>
          </div>
          <div class="form-group required">
            <label for="titleTypeCB" class="col-sm-2 control-label">Tipo de título</label>
            <div class="col-sm-3">
              <select class="selectpicker show-tick form-control" id="selectTitleType" name="selectTitleType">
                <option title="No Definido" data-hidden="true"></option>
                <option ng-repeat="type in ttypes" value="{{type.titleTypeCode}}">{{type.titleTypeName}}</option>
              </select>
            </div>
            <label for="titleModeCB" class="col-sm-1 control-label">Modalidad</label>
            <div class="col-sm-2">
              <select class="selectpicker show-tick form-control" id="selectTitleMode" name="selectTitleMode">
                <option title="No Definida" data-hidden="true"></option>
                <option ng-repeat="mode in tmodes" value="{{mode.titleModeCode}}">{{mode.titleModeName}}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="resolutions" class="col-sm-2 control-label">Resoluciones</label>
            <div class="col-sm-6">
              <div class="resolutions-container">
                <div class="resolution" ng-repeat="resolution in resolutions">
                    <i class="fa fa-file-pdf-o resolution-thumbnail" ></i>
                    <span> {{resolution.resolutionTypeName}} </span>
                    <span>{{resolution.resolutionNumber}} ({{resolution.resolutionYear}})</span>
                </div>
                <div class="resolution add-resolution" ng-click="openAddResolutionModal()">
                  <i class="fa fa-plus-square-o"></i>
                  <span> Agregar resolución</span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="titleComment" class="col-sm-2 control-label">Comentario</label>
            <div class="col-sm-9">
              <textarea rows="2" class="form-control" id="titleComment" ng-model="titleSelected.titleComment" style="resize:vertical;font-style: italic;"></textarea>
            </div>
          </div>
      <div class="modal-footer" style="padding-bottom:0px">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" >
          Guardar Cambios
        </button>
      </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- ADD RESOLUTION MODAL -->
<div class="modal fade" id="addResModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-md" style="margin-top: 13%;">
    <div class="modal-content">
      <div class="modal-header dotted-overflow">
        <span class="modal-title" style="font-weight: bold;">Agregar Resolución - {{titleSelected.titleName}}</span>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" ng-submit="submitResolution()" style="margin-bottom:0">
          <div class="form-group required">
            <label for="resType" class="col-sm-3 control-label">Tipo</label>
            <div class="col-sm-6" data-toggle="popover">
              <select class="selectpicker show-tick form-control" id="selectResolutionType" name="selectResolutionType" >
                <option title="Seleccione un tipo" data-hidden="true"></option>
                <option ng-repeat="rt in resTypes" value="{{rt.resolutionTypeCode}}">{{rt.resolutionTypeName}}</option>
              </select>
            </div>
          </div>
            <div class="form-group required">
              <label for="resType" class="col-sm-3 control-label">Número</label>
              <div class="col-sm-3">
                <input class="form-control numeric-input" ng-model="resolution.resolutionNumber" required>
              </div>
              <label for="resType" class="col-sm-1 control-label">Año</label>
              <div class="col-sm-2">
                <input class="form-control numeric-input" ng-model="resolution.resolutionYear" required maxlength="4" size="4">
              </div>
            </div>
          <div class="form-group">
            <label for="resType" class="col-sm-3 control-label">Fecha</label>
            <div class="col-sm-2">
              <input class="form-control" ng-model="resolution.resolutionYear" placeholder="Año" maxlength="4" size="4">
            </div>
            <div class="col-sm-2">
              <input class="form-control" ng-model="resolution.resolutionMonth" placeholder="Mes">
            </div>
            <div class="col-sm-2">
              <input class="form-control" ng-model="resolution.resolutionDay" placeholder="Día">
            </div>
          </div>
          <div class="modal-footer" style="padding-bottom:0px">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelResolution()">Cancelar</button>
            <button type="submit" class="btn btn-primary">
              Agregar resolución
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<div ng-controller="toasty-controller">
    <toasty-container toasty-defaults='{"timeout": 3000, "close-button":true}'></toasty-container>
</div>