<div id="titlePage">
<!-- PAGE TITLE -->
<div class="col-md-10 col-md-offset-2 title">
   <strong>
      UNC Universidad Nacional de Córdoba - Títulos Vigentes
   </strong>
</div>

<!-- CREATE BUTTON -->
<div class="col-md-2" style="text-align: center;">
   <button type="button" class="btn btn-success" style="padding: 7px 15px;border-radius: 0;" 
      data-toggle="modal" data-target="#creationModal"> 
      Solicitar alta de un título 
   </button>
</div>

<!-- CREATION MODAL -->
<div class="modal fade" id="creationModal" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="modal-title" style="font-weight: bold;">Alta de Título y Carrera</span>
         </div>
         <div class="modal-body" style="display:block;">
            <form class="form-horizontal" role="form" style="font-size:13px;">
               <div class="col-md-5">
                  <div class="form-group form-group-sm">
                     <label for="A" class="col-sm-4 control-label">Unidad Académica:</label>
                     <div class="col-sm-8">
                        <input class="form-control input-sm" id="A">
                     </div>
                  </div>
                  <div class="form-group form-group-sm">
                     <label for="B" class="col-sm-4 control-label">Carrera:</label>
                     <div class="col-sm-8">
                        <input class="form-control input-sm" id="B">
                     </div>
                  </div>
                  <div class="form-group form-group-sm">
                     <label for="C" class="col-sm-4 control-label">Tipo de Carrera:</label>
                     <div class="col-sm-8">
                        <input class="form-control input-sm" id="C">
                     </div>
                  </div>
                  <div class="form-group form-group-sm">
                     <div class="col-sm-12">
                        <textarea class="form-control" rows="2" placeholder="Comentario de Carrera" style="resize:none;"></textarea>
                     </div>
                  </div>
               </div>
               <div class="col-md-2" style="padding-top: 6px;">
                  <img src="images/423.png" style="
                     /*border: 1px dashed;*/
                     border-color: rgb(161, 110, 0);
                     width: 125; border-width: 2px;">
               </div>
               <div class="col-md-5" style="padding-left:0px">
                 <div class="modal-subtitle underlined">
                   Solicita
                 </div>
                 <div class="col-md-4" style="padding-left: 5;">
                   <img src="images/default_profile.png" width="110px" style="padding:0;">
                 </div>
                 <div class="col-md-8">
                   <div class="dotted-overflow" 
                         style="font-weight: bold;color:
                               rgb(161, 110, 0);
                               font-size: 14pt;
                               ">
                               Diego Pablo Mansilla
                   </div>
                   <div style="color: rgb(224, 169, 49);font-weight: bold;">CUIL 20-27656133-3</div>
                   <div style="color: rgb(224, 169, 49);font-weight: bold;">DNI 27656133</div>
                   <div style="padding-top: 10px;color: rgb(224, 170, 52);"> <span class="glyphicon glyphicon-envelope">   </span> dmansilla@unc.edu.ar</div>
                 </div>
               </div>
               <div class="row">
                 <div class="col-md-12">
                     <div class="modal-subtitle underlined">
                        Titulos
                     </div>
                     <div class="form-group form-group-sm">
                        <label for="A" class="col-sm-1 control-label">Título:</label>
                        <div class="col-sm-11">
                           <div class="col-sm-6 no-padding-left">
                              <input class="form-control input-sm" id="A" placeholder="Masculino">
                           </div>
                           <div class="col-sm-6 no-padding-left">
                              <input class="form-control input-sm" id="A" placeholder="Femenino">
                           </div>
                        </div>
                     </div>
                     <div class="form-group form-group-sm">
                        <label for="A" class="col-sm-1 control-label">Modalidad:</label>
                        <div class="col-sm-3">
                           <input class="form-control input-sm" id="A" >
                        </div>
                        <label for="B" class="col-sm-1 control-label">Tipo:</label>
                        <div class="col-sm-3">
                           <input class="form-control input-sm" id="A">
                        </div>
                        <label for="A" class="col-sm-1 control-label">Co-gestión:</label>
                        <div class="col-sm-3">
                           <input type="radio" name="co-gestion" id="inlineRadioA" value="1" > 
                           <small>Sí</small>
                           <input type="radio" name="co-gestion" id="inlineRadioB" value="0" > 
                           <small>No</small>
                        </div>
                     </div>
                 </div>
               </div>
               <div class="row">
                  <div class="col-sm-6">
                     <div class="modal-subtitle">Instituciones Participantes:</div>
                     <div class="institutions-content">
                     </div>
                  </div>
                  <div class="col-sm-6">
                     <div class="modal-subtitle">Resoluciones:</div>
                     <div class="resolutions-content">
                        
                     </div>
                  </div>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Solicitar Alta</button>
         </div>
      </div>
   </div>
</div>

<!-- EDITION MODAL -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="modal-title" id="myModalLabel" style="font-weight: bold;">Edición de Título</span>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="titleCodeInput" class="col-sm-2 control-label">Código ONA</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="titleCodeInput" ng-model="titleSelected.titleCode">
            </div>
          </div>
          <div class="form-group">
            <label for="titleNameInput" class="col-sm-2 control-label">Título</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="titleNameInput" ng-model="titleSelected.titleName">
            </div>
          </div>
          <div class="form-group">
            <label for="femaleNameInput" class="col-sm-2 control-label">Título Femenino</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="femaleNameInput" ng-model="titleSelected.titleFemaleName">
            </div>
          </div>
          <div class="form-group">
            <label for="titleStateCB" class="col-sm-2 control-label">Estado actual</label>
            <div class="col-sm-6" id="titleStateCB">
              <select class="selectpicker form-control" name="selectTitleState">
              <optgroup label="Título Pendiente">
                <option value="1" title="Título Pendiente Sin Código ONA">Sin Código ONA</option>
                <option value="6" title="Título Pendiente Con Código ONA">Con Código ONA</option>
              </optgroup>
              <optgroup label="Vigente">
                <option value="3" title="Título Vigente">Título Vigente</option>
              </optgroup>
              <optgroup label="Título No Vigente">
                <option value="5" title="Título No Vigente Con Actividad">Con Actividad</option>
                <option value="4" title="Título No Vigente Sin Actividad">Sin Actividad</option>
              </optgroup>
              </select>
            </div>
            
          </div>
          <div class="form-group">
            <label for="titleTypeCB" class="col-sm-2 control-label">Tipo de título</label>
            <div class="col-sm-3">
              <select class="selectpicker show-tick form-control" name="selectTitleType" >
                <option ng-repeat="type in ttypes">{{type.titleTypeName}}</option>
              </select>
            </div>
            <label for="titleModeCB" class="col-sm-1 control-label">Modalidad</label>
            <div class="col-sm-2">
              <select class="selectpicker show-tick form-control" name="selectTitleMode" >
                <option>Presencial</option>
                <option>A Distancia</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="resolutions" class="col-sm-2 control-label">Resoluciones</label>
            <div class="col-sm-6">
              <div class="resolutions-container">
                <div class="resolution" ng-repeat="resolution in resolutions">
                    <i class="fa fa-file-pdf-o resolution-thumbnail" ></i>
                    <span> {{resolution.resolutionTypeName}} </span>
                    <span>{{resolution.resolutionNumber}} ({{resolution.resolutionYear}})</span>
                </div>
                <div class="resolution">
                  <i class="fa fa-plus-square-o add-resolution" style=""></i>
                  <span> Agregar resolución</span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="titleComment" class="col-sm-2 control-label">Comentario</label>
            <div class="col-sm-9">
              <textarea rows="2" class="form-control" id="titleComment" ng-model="titleSelected.titleComment" style="resize:vertical;font-style: italic;"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="saveTitleChanges()">
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</div>

<!-- SEARCH WIDGET -->
<div class="search-widget">
   <!-- Input search text -->
   <div class="col-md-3">
      <input type="text" placeholder="Búsqueda rápida" ng-model="query" class="search-box" 
         style="height: 32px; padding-left: 5px; width: 89%; float:left;" />
      <i class="fa fa-search search-button"
         tooltip="Búsqueda avanzada"
         tooltip-placement="right"
         tooltip-popup-delay='1000'
         id="flip" ng-init="initSearchPanel()">
      </i>
   </div>

   <!-- Advanced search panel -->
   <div id="panel" style="display:none" class="col-md-5">
      <!-- Panel title label -->
      <span class="title">
         <span class="glyphicon glyphicon-search" style="font-size:9pt"></span>
         <span> Buscar</span>
      </span>

      <!-- Panel close button -->
      <span class="close" ng-init="initClosePanelButton()">
         <span class="glyphicon glyphicon-remove" style="font-size:9pt;position: relative; top: 0px;">
         </span>
      </span>

      <!-- Search form -->
      <form class="form-horizontal" role="form" style="margin-top: 12px;font-size: 13px;zoom:0.9;">
         <div class="form-group form-group-sm">
            <label for="A" class="col-sm-3 control-label">Institución:</label>
            <div class="col-sm-8">
               <input class="form-control input-sm" id="A" ng-model="institution" typeahead="i.institutionName for i in institutions | filter:$viewValue | limitTo:8" >
            </div>
         </div>
         <div class="form-group form-group-sm">
            <label for="B" class="col-sm-3 control-label">Unidad Académica:</label>
            <div class="col-sm-8">
               <input class="form-control input-sm" id="B" ng-model="au" typeahead="a.auName for a in aus | filter:$viewValue | limitTo:8">
            </div>
         </div>
         <div class="form-group form-group-sm">
            <label for="C" class="col-sm-3 control-label">Tipo de Carrera:</label>
            <div class="col-sm-8">
               <input class="form-control input-sm" id="C" ng-model="ct" typeahead="ct.careerTypeName for ct in cts | filter:$viewValue | limitTo:8">
            </div>
         </div>
         <div class="form-group form-group-sm">
            <label for="D" class="col-sm-3 control-label">Carrera:</label>
            <div class="col-sm-8">
               <input class="form-control input-sm" id="D" ng-model="career" typeahead="c.careerName for c in careers | filter:$viewValue | limitTo:8">
            </div>
         </div>
         <div class="form-group form-group-sm">
            <label for="E" class="col-sm-3 control-label">Tipo de Título:</label>
            <div class="col-sm-8">
               <input class="form-control input-sm" id="E" ng-model="titleType" typeahead="tt.titleTypeName for tt in ttypes | filter:$viewValue | limitTo:8">
            </div>
         </div>
         <div class="form-group form-group-sm">
            <label for="F" class="col-sm-3 control-label">Título:</label>
            <div class="col-sm-8">
               <input class="form-control input-sm" id="F" ng-model="title" typeahead="t.titleName for t in titleTable | filter:$viewValue | limitTo:8">
            </div>
         </div>
         <div class="form-group form-group-sm">
            <label for="G" class="col-sm-3 control-label">Tipo de Resolución:</label>
            <div class="col-sm-4">
              <select class="form-control" ng-model="resType" ng-options="rt.resolutionTypeName for rt in resTypes">
                <option></option> <!--empty value option -->
              </select>
            </div>
            <div class="col-sm-2" style="padding-left:0">
               <input class="form-control input-sm" id="G" placeholder="Número" ng-model="resNro">
            </div>
            <div class="col-sm-2" style="padding-left:0">
               <input class="form-control input-sm" id="G" placeholder="Año" ng-model="resYear">
            </div>
         </div>
         <div class="form-group">
            <label class="col-sm-3 control-label">Estado del Título:</label>
            <div class="col-sm-8">
               <div class="checkbox-inline">
                 <label>
                   <input type="checkbox" ng-model="titleStateSearch['1']" > Pendiente
                 </label>
               </div>
               <div class="checkbox-inline">
                 <label>
                   <input type="checkbox" ng-model="titleStateSearch['6']"> Pendiente con código ONA
                 </label>
               </div>
               <div class="checkbox-inline">
                 <label>
                   <input type="checkbox" ng-model="titleStateSearch['3']"> Vigente
                 </label>
               </div>
             </div>
         </div>
         <div class="form-group">
             <div class="col-sm-offset-3 col-sm-8">
               <div class="checkbox-inline">
                 <label>
                   <input type="checkbox" ng-model="titleStateSearch['5']"> No Vigente con Actividad
                 </label>
               </div>
               <div class="checkbox-inline">
                 <label>
                   <input type="checkbox" ng-model="titleStateSearch['4']"> No Vigente sin Actividad
                 </label>
               </div>
             </div>
         </div>
         <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
              <button type="button" ng-click="searchTitles()"
                class="btn btn-info btn-sm pull-right" style="padding: 7px 28px;">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 
                  Buscar
              </button>
              <button type="button" ng-click="cleanSearchFields()"
                class="btn btn-info btn-sm pull-right be-careful" style="padding: 7px 28px; margin-right: 15px;">
                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span> 
                  Limpiar
              </button>
            </div>
         </div>
      </form>
      <!-- END: Search form -->
   </div>
   <!-- END: Advanced search panel -->
</div>
<!-- END: SEARCH WIDGET -->

<!-- SEARCH RADIO BUTTONS -->
<div class="col-md-7"  style="position: relative; top: -5px; margin-bottom: 10">
   <div class="radio-button-width"> 
      <div class="radio-inline">
         <input type="radio" name="searchOptions" id="inlineRadio1" value="1" ng-model="statusOption"> <small>Títulos Pendientes</small>
      </div>
         <span class="badge">{{countState(1)}}</span>
   </div>

   <div class="radio-button-width"> 
      <div class="radio-inline">
         <input type="radio" name="searchOptions" id="inlineRadio2" value="5" ng-model="statusOption"> <small>Títulos No Vigentes con Actividad</small>
   </div>
      <span class="badge">{{countState(5)}}</span>
   </div>

   <div class="radio-button-width"> 
      <div class="radio-inline">
         <input type="radio" name="searchOptions" id="inlineRadio3" value="3" ng-model="statusOption"> <small>Títulos Vigentes</small>
      </div>
      <span class="badge">{{countState(3)}}</span>
   </div>
   <div class="radio-button-width"> 
      <div class="radio-inline">
         <input type="radio" name="searchOptions" id="inlineRadio4" value="6" ng-model="statusOption"> 
            <small>Títulos Pendientes con Código ONA</small>
      </div>
      <span class="badge">{{countState(6)}}</span>
   </div>
   <div class="radio-button-width"> 
     <div class="radio-inline">
        <input type="radio" name="searchOptions" id="inlineRadio5" value="4" ng-model="statusOption"> 
          <small>Títulos No Vigentes sin Actividad</small>
     </div>
     <span class="badge">{{countState(4)}}</span>
   </div>
   <div class="radio-button-width"> 
     <div class="radio-inline">
        <input type="radio" name="searchOptions" id="inlineRadio6" value="" ng-model="statusOption" checked="checked"> 
          <small>Todos los Títulos</small>
     </div>
     <span class="badge">{{countCareers()}}</span>
   </div>
</div>

<div id="mainSplitter" style="border:0; clear:both">
  <!-- TITLE TREE -->
  <div class="splitter-panel col-md-2" id="jstree_demo_div" style="overflow: auto; font-size:10pt; padding-left: 0px;font-size: 11px;">
  </div>
  <!-- TABLE -->
  <div class="splitter-panel datagrid col-md-10" ng-init="initSplitter()" style="overflow:auto;">
     <table >
        <col style="width:20%">
        <col style="width:8%">
        <col style="width:22%">
        <col style="width:8%">
        <col style="width:22%">
        <col style="width:8%">
        <col style="width:12%"> 
        <thead >
           <tr>
              <th>Unidad Académica</th>
              <th>Código de Carrera</th>
              <th>Nombre de Carrera</th>
              <th>Código de Título</th>
              <th>Nombre de Título</th>
              <th>Tipo de Título</th>
              <th>Modalidad</th>
              <th> </th>
           </tr>
        </thead>
        <tbody>
        <tr ng-repeat="t in titleTable | filter:query | filter: {state:statusOption} | filter: criteriaMatch()" 
          style="height:47px" ng-click="openEditModal(t)">
              <td> {{t.academicUnit}} </td>
              <td> {{t.careerCode}} </td>
              <td> {{t.careerName}} </td>
              <td> {{t.titleCode}} </td>
              <td> {{t.titleName}} </td>
              <td> {{t.titleType}} </td>
              <td> {{t.titleMode}} </td>
              <td> 
                <span ng-if="isMissingData(t)"
                class="glyphicon glyphicon-warning-sign" aria-hidden="true" 
                style="color:red; font-size:10pt"
                tooltip-html-unsafe="{{getMissingDataMessage(t)}}" tooltip-placement="left">
                </span>
              </td>
           </tr>  
        </tbody>
     </table>
  </div>
</div>
</div>
<div ng-controller="toasty-controller">
    <toasty-container toasty-defaults='{"timeout": 3000, "close-button":true}'></toasty-container>        
</div>