/* search form title */
.title {
	padding-bottom: 10px;
}
body{
	padding-bottom: 0px;
	overflow: hidden;
}
/* Search radio button style */
.radio-button-width {
	display: inline-block;
	width: 250px;
	vertical-align: text-top;
	font-weight: bold;
}

.badge{
	background-color: #EBBE6E;
}

/* Default nahuel table*/ 
.datagrid table { 
	border-collapse: collapse; 
	text-align: left; 
	width: 100%; 
}

.datagrid {
	font: normal 12px/150% Verdana, Arial, Helvetica, sans-serif; 
	background: #fff; 
	overflow: hidden; 
}

.datagrid table thead th {
	background-color:#03A9F4; 
	color:#FFFFFF; 
	font-size: 13px; 
	font-weight: bold; 
	text-align: center;
	padding: 3px;
}

.datagrid table thead th:first-child { 
	border: none; 
}

.datagrid table tbody td { 
	color: #454F54; 
	font-size: 12px;
	border-bottom: 1px solid #29B6F6;
	font-weight: normal; 
	padding: 8px;
}

.datagrid table tbody td:first-child { 
	border-left: none; 
}

.datagrid table tr:hover {
	background-color:#E1F5FE;
}

/*.datagrid table tbody tr:last-child td { 
	border-bottom: none; 
}*/

/*Form search*/
.dropdown-panel{
	left: -272;
	background-color: #F1F1E2;
}

.icon-colour{
	background-color: #EBBE6E;
	color: #FFFFFF;
	padding: 3;
	border-radius: 50;
}

.search-widget{

}

.search-widget .control-label{
	padding-right: 0;
}

.search-widget .form-group{
	margin-bottom: 9px;
}

.search-widget .form-control{
	border-radius: 0px!important;
	border: 1px solid #90CAF9;
}

.search-widget .search-button{
	padding: 8px 23px;
	float: left;
	background: #03A9F4;
	color: floralwhite;
	font-size: 16px;
	border-radius: 0px 3px 3px 0px;
	margin-top: 10px;
}

.search-widget .search-button:hover{
	background: #039BE5;
}

.search-widget .search-button:active{
	background: #039BE5;
	box-shadow: inset 0 2px 0 rgba(0,0,0,.15),0 1px 3px rgba(0,0,0,.2);
}

.search-widget .clear-search{
	font-size: 9pt;
	color: rgb(170, 170, 170);
	padding: 8px 2px;
	float: right;
	cursor: pointer;
}

.search-widget .clear-search:hover{
	color:rgb(230, 99, 99);
}

.search-widget #panel{
	background-color: #A8E4FF;
	position: absolute;
	top: 51px;
	left: 20.6%;
	z-index: 10;
	height: 290px;
	width: 44%;
	color: #3D3D3D;
	-webkit-box-shadow: 0px 3px 11px 2px rgba(0, 0, 0, 0.45);
	-moz-box-shadow:    0px 3px 11px 2px rgba(0, 0, 0, 0.45);
	box-shadow:         0px 3px 11px 2px rgba(0, 0, 0, 0.45);
}

#panel .panel-button{
	padding: 7px 28px;
	margin-right: 15px;
	background-color: #03A9F4;
	border: 0;
	border-radius: 0px;
}

#panel .panel-button:hover{
	background-color: #039BE5;
}

#panel .panel-button:active{
	background-color: #039BE5;
	box-shadow: inset 0 2px 0 rgba(0,0,0,.15),0 1px 3px rgba(0,0,0,.2);
}

.search-widget .title{
	position: relative;
	left: -10px;
}

.search-widget .close{
	position: relative;
	top: 4px;
	right: -9px;
	background-color: #B9DDE8;
	padding: 3px 4px
}

.search-widget .search-box{
	padding-left: 8px;
	width: 90%;
	float: left;
	font-size: 11pt;
}

.no-input-style {
	border: none;
	height: 30px;
	background: transparent;
}

.no-input-style {
	outline: none !important;
}

.fake-input {
	border: 1px solid;
	border-color: #03A9F4;
	border-radius: 3px 0px 0px 3px;
	height: 32px;
	width: 45%;
	float: left;
	margin-top: 10px;
	background: white;
	border-right: 0;
}

.advanced-search-button{
	font-size: 13pt !important;
	color: rgb(170, 170, 170);
	float: right;
	padding: 7px 10px;
	cursor: pointer;
}

.advanced-search-button:hover{
	color:#039BE5;
}

.modal-lg{
	width: 1000px;
}

.modal-header{
	padding: 11px 16px;
	border-bottom: 0;
	background-color: #03A9F4;
	color: white;
}

.modal-content{
	border-radius: 0;
}

.modal-content .btn{
	border-radius: 0;
}

.modal-content .control-label{
	padding-right: 0;
	padding-left: 0;
}

.modal-footer {
	padding: 10px 15px;
	text-align: right;
}

.modal-content .form-control{
	border-radius: 0px!important;
}

.modal-subtitle{
	color: rgb(161, 110, 0);
	margin-bottom: 15px;
}

.underlined{
	border-bottom: 1px solid rgb(255, 198, 73);
}

.dotted-overflow{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.no-padding-left{
	padding-left: 0;
}

.be-careful:hover{
	background-color: #F44336;
}

.row-missing-data {
}

/*row-missing-data:hover{
	background-color: #F5DFBD !important;
}*/

.row-missing-data td {
	color: rgb(245, 64, 64) !important; 
	font-style: italic;
}

.resolutions-container {
	width: 100%;
	height: 100px;
	border: 1px solid #ccc;
	overflow: auto;
}

.resolution {
	padding: 12px;
	text-align: center;
	height: 95px;
	display: block;
	float: left;
	width: 25%;
}

.resolution-thumbnail{
	font-size: 29pt !important;
	color: #039BE5;
	padding-bottom: 4px;
}

.resolution span {
	display: block;
	font-size: 10pt;
}

.add-resolution {
	cursor: pointer;
}

.add-resolution i{
	font-size: 24pt !important;
	color: #039BE5;
	padding-top:9px
}

.add-resolution:hover{
	text-decoration: underline;
}

.dotted-overflow{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.form-group.required .control-label:after{
	content: "*";
	color: #F44336;
}

.page-header{
	margin: 0;
	background-color: #f1f1f1;
	padding-top: 8px;
	padding-bottom: 9px;
	border-bottom: 1px solid #e5e5e5;
	height: 10.5%;
	z-index: 10;
}

.resultNumberText{
	display: inline-block;
	margin-top: 10px;
	margin-left: 43px;
	padding-top: 9px;
	font-style: inherit;
	font-size: 10pt;
	color: rgb(170, 170, 170);
	font-weight: bold;
}

body{
	padding: 0;
	margin: 0;
}

.fixed-watermark-logo{
	position: fixed;
	top: 13px;
	right: 34px;
	z-index: 3;
	width: 6.5%;
	opacity: 0.54;
}

.fixed-watermark-logo:hover{
	opacity: 0.9;
}

.copy-btn{
	padding: 6px 12px;
	background-color: #4FC3F7;
}

.copy-btn.zeroclipboard-is-hover {
	background-color: #03A9F4;
}

.copy-btn.zeroclipboard-is-active {
	background-color: #039BE5;
}

#viewTitleModal hr{
	margin-bottom: 8px!important;
	margin-top: 4px!important;
}

.title-attribute{
	display: inline-block;
	padding: 5px;
	/*background: #E1F5FE;*/
	font-weight: bold;
	margin-bottom: 4px;
}

.title-attribute-value {
	margin-top: 5px;
	padding-left: 0px;
}

/*
.jstree-default .jstree-node {
	margin-left: 15px !important;
}

.jstree-default .jstree-icon:empty{
	width: 20px !important;
}

*/